%h2 Account
%section
	#nickname= @account[:nickname]
	%img{src:"http://www.gravatar.com/avatar/#{@email_md5}?d=retro"}

- if not @monsters.empty?
	%h2 Monsters
	%section
		%table
			%tr
				%th Type
				%th Image
				%th Level
				%th Hp
				%th Letters
			- @monsters.each do |m|
				%tr
					%td= m.type[:name]
					%td
						%img{src:"/images/#{m.type[:name].downcase}.png"}
					%td= m.level
					%td= m.hp
					%td
						- m.letters.each do |l|
							#{partial :letter_partial, l:l}

%h2 Do Stuff
%section
	%form{action:"/word",method:"post"}
		%table
			%tr
				%td Word:
				%td
					%input{type:"text",name:"word",autofocus:true}
			%tr
				%td
				%td
					%button{type:"submit"} Submit
	%a{href:"/monster/create"} Create Monster
